BITCOIN_STORAGE=/PATH/TO/BITCOIN/STORAGE
BITCOIN_RPC_USER=YOUR_BITCOIN_RPC_USER
BITCOIN_RPC_PASSWORD=YOUR_BITCOIN_RPC_PASSWORD

BEACON_STORAGE=/PATH/TO/BEACON/STORAGE
ETHEREUM_STORAGE=/PATH/TO/ETHEREUM/STORAGE

TRON_STORAGE=/PATH/TO/TRON/STORAGE

PROMETHEUS_STORAGE=/PATH/TO/PROMETHEUS/STORAGE
